.heroSection {
	.explore {
		animation: hovering 3s infinite cubic-bezier(0.4, 0, 0.2, 0);
	}
}

@keyframes hovering {
	0% {
		transform: translateY(0);
	}

	50% {
		transform: translateY(8px);
	}

	100% {
		transform: translateY(0);
	}
}
