/* SCSS variables */
$primary-50: #f9eeee;
$primary-100: #ffa9a4;
$primary-300: #fe424d;
$primary-500: #e60a17;
$primary-700: #ce1105;
$primary-900: #ab0a00;

$secondary-50: #f8eef9;
$secondary-100: #c77add;
$secondary-300: #ad0ae6;
$secondary-500: #9b14c3;
$secondary-700: #8b1da3;
$secondary-900: #7b2583;

$gray-white: #ededed;
$gray-50: #f6f5f5;
$gray-100: #ededed;
$gray-300: #cccccc;
$gray-500: #999999;
$gray-700: #666666;
$gray-900: #333333;
$gray-black: #0d0e11;
$gray-black-1e: #1e1e1e;

$black-0: #00000000;
$black-10: #0000001a;
$black-20: #00000033;
$black-30: #0000004d;
$black-40: #00000066;
$black-50: #00000080;
$black-60: #00000099;
$black-70: #000000b2;
$black-80: #000000cc;
$black-90: #000000e5;
$black-100: #000000ff;

$white-0: #ffffff00;
$white-10: #ffffff1a;
$white-20: #ffffff33;
$white-30: #ffffff4d;
$white-40: #ffffff66;
$white-50: #ffffff80;
$white-60: #ffffff99;
$white-70: #ffffffb2;
$white-80: #ffffffcc;
$white-90: #ffffffe5;
$white-100: #ffffffff;

/* Export variables */
:export {
	primary-50: $primary-50;
	primary-100: $primary-100;
	primary-300: $primary-300;
	primary-500: $primary-500;
	primary-700: $primary-700;
	primary-900: $primary-900;

	secondary-50: $secondary-50;
	secondary-100: $secondary-100;
	secondary-300: $secondary-300;
	secondary-500: $secondary-500;
	secondary-700: $secondary-700;
	secondary-900: $secondary-900;

	gray-white: $gray-white;
	gray-50: $gray-50;
	gray-100: $gray-100;
	gray-300: $gray-300;
	gray-500: $gray-500;
	gray-700: $gray-700;
	gray-900: $gray-900;
	gray-black: $gray-black;
	gray-black-1e: #1e1e1e;

	black-0: $black-0;
	black-10: $black-10;
	black-20: $black-20;
	black-30: $black-30;
	black-40: $black-40;
	black-50: $black-50;
	black-60: $black-60;
	black-70: $black-70;
	black-80: $black-80;
	black-90: $black-90;
	black-100: $black-100;

	white-0: $white-0;
	white-10: $white-10;
	white-20: $white-20;
	white-30: $white-30;
	white-40: $white-40;
	white-50: $white-50;
	white-60: $white-60;
	white-70: $white-70;
	white-80: $white-80;
	white-90: $white-90;
	white-100: $white-100;
}
