@import '../../theme/colors/colors.scss';

.switch {
  width: 80px;
  height: 40px;
  box-shadow: inset 0 0 4px 4px rgba(0,0,0,0.2);
  display: flex;
  justify-content: flex-start;
  padding: 4px;
  align-items: center;
  border-radius: 9999px;
  cursor: pointer;
  transition: background-color 0.5s ease-in-out;
  background-color: #5091d1;
  overflow: hidden;
  position: relative;

  .clouds {
    position: absolute;
    z-index: 4;
    bottom: 0;
    left: 0;
  }

  .stars {
    position: absolute;
    z-index: 4;
    bottom: 80px;
    left: 0;
  }

  .handleWrapper {
    position: relative;
    width: 32px;
    height: 32px;
    z-index: 5;
    overflow: visible;

    .aura {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 9999px;

      &.auraSm {
        scale: 1.75;
        background-color: rgba(255,255,255,0.15);
        z-index: 3;
      }

      &.auraMd {
        scale: 2.5;
        background-color: rgba(255,255,255,0.1);
        z-index: 2;
      }

      &.auraLg {
        scale: 3.25;
        background-color: rgba(255,255,255,0.05);
        z-index: 1;
      }
    }

    .handle {
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 9999px;
      width: 32px;
      height: 32px;
      background-color: #FFC187;
      box-shadow: inset 0 2px 2px 0 rgba(255,255,255,0.2),
                  inset 0 -2px 2px 0 #ffa653,
                  0 2px 4px 0 rgba(0,0,0,0.2);
      overflow: hidden;
      z-index: 5;

      .handleDark {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        right: -64px;
        border-radius: 9999px;
        width: 32px;
        height: 32px;
        background-color: #D0D0D0;
        box-shadow: inset 0 2px 2px 0 rgba(255,255,255,0.2), inset 0 -2px 2px 0 rgba(0,0,0,0.2);
      }

      .crater {
        background-color: #979BAE;
        box-shadow: inset 0 -1px 1px 0 rgba(255,255,255,0.2), inset 0 1px 1px 0 rgba(0,0,0,0.2);
        border-radius: 9999px;
        position: absolute;
      }
    }
  }

  &[data-active='true'] {
    justify-content: flex-end;
    background-color: $black-50;

    .handle {
      .handleDark {
        right: 0;
      }
    }

    .clouds {
      bottom: -40px;
    }

    .stars {
      bottom: 0;
    }
  }

  $handle-shadow: #66676A;
}
